<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQseVqFmu5ub_VY8pgq5YbKOEkrQ3WemM</string>
	<key>GCM_SENDER_ID</key>
	<string>181919615126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackbowlin.PlanPerfect</string>
	<key>PROJECT_ID</key>
	<string>planperfect-420200</string>
	<key>STORAGE_BUCKET</key>
	<string>planperfect-420200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181919615126:ios:6ccbe5570f8afd72011ab7</string>
</dict>
</plist>